<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <h1>this is the home page</h1>
    <p>
      Exercitation Lorem esse aute eu incididunt dolor esse nostrud ea officia.
      Qui in et nisi excepteur proident cillum deserunt sunt velit tempor non
      sunt do sunt. Aute ullamco culpa ex commodo nostrud incididunt mollit
      nulla. Consequat velit et deserunt laboris incididunt officia pariatur eu
      aliqua. Nostrud duis voluptate et magna fugiat adipisicing pariatur sint
      proident. Nisi pariatur ullamco in dolore aute occaecat minim incididunt
      ullamco. Nulla magna labore consectetur sunt aliquip magna culpa velit
      laboris voluptate dolor officia.
    </p>
    <p />
  </body>
</html>
